<div style="margin-top:55px; padding-top:55px;" class="container-fluid shadow text-sm-center p-5 bg-info text-white rounded-3"> <!-- bg-light is background color & p-5 is padding -->
  <h1 class="display-2">Welcome to SocialNets</h1>
  <p class="lead">A fast and simple app to keep your contacts updated!</p>
</div>
