// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.image-show {
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

.image-list {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
